* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 1024px;
  margin: auto;
}

h1,
h2,
.menu {
  text-transform: uppercase;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: antiquewhite;
}

a, a:visited, a:active {
  color: inherit;
}

section {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#contacts {
  margin-top: 0;
  padding-top: 10px;
}

#contacts li {
 padding-bottom: 20px;
}

#language-level {
  margin-bottom: 0;
  padding-bottom: 10px;
}

ul {
  list-style: none;
}

h2 {
  margin-bottom: 10px;
  border-bottom: solid 2px black;
}

.menu {
  background-color: rgb(241, 195, 108);
  padding: 5px;
  flex: auto;
}

.menu:hover {
  background-color: rgb(18, 130, 235);
  color: aliceblue;
}

header {
  display: inline;
  background-color: rgba(91, 117, 233, .6);
  padding: 5px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  border: solid 2px white;
}

nav,
header,
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

nav {
  justify-content: center;
}

footer {
  background-color: rgb(77, 81, 100);
  padding: 10px;
}